<% include partials/header %>
<h1><%= title %></h1>
<table width="80%" border="0">

    <tr>
        <td>List All Customers <a href="/users">click here</a></td>
        <td>Add a New Customer <a href="/users/add">click here</a></td>
    </tr>

</table>
<% include partials/footer %>
